@using BlazorTiendaRopa.Entidades
@using Microsoft.AspNetCore.Components.Forms
﻿<h3>Formulario1</h3>

<EditForm Model="cliente">
	<div >
		<label>ID</label>
		<InputNumber @bind-Value="cliente.Id"></InputNumber>
	</div>
	<div class="form-control">
		<label>Correo</label>		
		<InputText @bind-Value="cliente.Correo"></InputText>
	</div>
	
	<input type="button" value="Agregar" @onclick="Cargar"/>

	<h1>
		@ingresa
	</h1>
</EditForm>

@code {
	Cliente cliente = new Cliente();

	string ingresa = "eo";

	private void Cargar()
	{
		ingresa = cliente.Id + " nombre " + cliente.Nombre;
		

	}
}